<!DOCTYPE html>
<html lang = "en">
    <head>        
        <link rel = "stylesheet" type="text/css" href="resources/extra/normalize.css">
        <link rel ="stylesheet" type="text/css" href="resources/extra/grid.css">
        <link rel = "stylesheet" type="text/css" href="resources/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <title>HeyBud</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="css/img/HeyBud%20Logo.png" alt="logo" class="logo" >
                    
                    <ul class="main-nav">
                        <li><a href="speech-text.html">Text</a></li>
                        <li><a href="#">Voice</a></li>
                        <li><a href="#">Assessible Locations</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </nav>
            <div class="title-text-box">
                <h1>Master Learning<br>Learn like never before</h1>
                <a class="btn btn-full" href="#">Login</a>
                <a class="btn btn-ghost" href="#">More Info</a>
            </div>  
        </header>
    </body>
</html>