<!DOCTYPE html>
<html lang = "en">
    <head>        
        <link rel = "stylesheet" type="text/css" href="extra/normalize.css">
        <link rel ="stylesheet" type="text/css" href="extra/grid.css">
        <link rel = "stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <title>HeyBud</title>
    </head>

    <body>
        <header>
            <nav>
                <div class="row">
                    <img src="content/HeyBud%20Logo.png" alt="logo" class="logo" >
                    <ul class="main-nav">
                        <li><a href="#">Text</a></li>
                        <li><a href="#">Voice</a></li>
                        <li><a href="#">Assessible Locations</a></li>
                        <li><a href="#">Chatbot</a></li>
                    </ul>
                </div>
            </nav>
            <div class="hero-text-box">
                <h1>Goodbye junk food. <br>Hello super healthy meals</h1>
                <a class="btn btn-full" href="#">I'm hungry</a>
                <a class="btn btn-ghost" href="#">Show me More</a>
            </div>  
        </header>
    </body>
</html>